form{
  display: flex;
 justify-content: center;
 align-content: center;
  flex-direction: column;
  padding: 100px;
  margin-top: 150px;

}
button{
  width: 150px;
  
}
.cards{
  margin-top: 100px;
   display: flex;
   justify-content: space-around;
  
}
